body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #CDC2E1;
    color: #fff;
    padding: 5px;
    text-align: center;
}


nav li {
    display: inline;
    margin: 0 20px;
}

.contacto {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #593E8F;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #bebdbd; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }
  
  .logo img {
    width: 180px; 
    height: auto;
  }
  
  .redes-sociales a {
    text-decoration: none;
    color: #6a6969; 
    margin-right: 10px;
  }
